.fixed-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body {
  background: url("../images/pattern.png");
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 30px;
}

h1 {
  padding: 10px;
  padding-top: 10px;
  margin: 20px;
  font-size: 30px;
  color: #4aaaa5;
  font-weight: bold;
  text-align: center;
  text-align: left;
  border-bottom: 1px solid #cccc;
}

#main {
  background-color: white;
  border-bottom: 1px solid #cccc;
  max-width: 960px;
  width: 100%;
  padding: 20px;
}

#navbar-Poli {
  background-color: #4aaaa5dc;
  padding: 10px;
  color: whitesmoke;
}

.image-content {
  width: 150px;
}

.fixed-bottom {
  width: 100%;
  padding: 20px;
  background-color: grey;
  color: white;
  text-align: center;
  bottom: 0;
  border-top: solid;
  border-color: #4aaaa5;
  border-width: 8px;
}
