.fixed-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  padding: 10px;
  padding-top: 10px;
  font-size: 30px;
  color: #4aaaa5;
  font-weight: bold;
  width: 30%;
  text-align: center;
  text-align: left;
}

.body {
  background: url("../images/pattern.png");
  padding-top: 100px;
  padding-bottom: 100px;
  width: 968px;
}
.row {
  padding: 10px;
  margin-left: 35px;
  margin-right: 35px;
}

.container-content {
  background-color: white;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: grey;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: solid;
  border-color: #4aaaa5;
  border-width: 8px;
}

.bd-brand-item-inverse {
  background-color: #4aaaa5;
  padding: 10px;
  color: whitesmoke;
}

.image {
  width: 150px;
}

.portfolio-image {
  width: 150px;
  margin-right: 20px;
}
