.fixed-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  padding: 10px;
  padding-top: 10px;
  font-size: 30px;
  color: #4aaaa5;
  font-weight: bold;
  width: 20%;
  text-align: center;
  text-align: left;
}

.body {
  background: url("../images/pattern.png");
  padding-top: 50px;
}
.row {
  margin: 35px;
  padding: 10px;
}

.content {
  background: white;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: grey;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: solid;
  border-color: #4aaaa5;
  border-width: 8px;
}

.bd-brand-item-inverse {
  background-color: #4aaaa5;
  padding: 10px;
  color: whitesmoke;
}

.image {
  float: left;
  width: 1px;
  margin-top: 10px;
  margin-right: 25px;
}
